@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700|Kanit:400|Assistant:400,800');
@import url('http://justcauserp.com/cdn/flags.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
}

@media (max-width: 1366px) {.resizable {transform: scale(0.91);}}
@media (max-width: 1200px) {.resizable {transform: scale(0.87);}}
@media (max-width: 1024px) {.resizable {transform: scale(0.82);}}
@media (max-width: 800px) {.resizable {transform: scale(0.75);}}
@media (max-width: 720px) {.resizable {transform: scale(0.70);}}
@media (max-width: 600px) {.resizable {transform: scale(0.67);}}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border: none;
	border-radius: 50px;
}

#action-hud {
	color: white;
	text-transform: uppercase;
	position: fixed;
	bottom: 0;
	margin-bottom: 7vw;
	text-align: center;
	width: 100%;
	font-family: Assistant;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#action-hud .action-hud-text {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.4);
	margin-bottom: 5px;
	padding: 0px 5px 2px;
	line-height: 32px;
	font-size: 32px;
	font-weight: 800;
}

#action-hud .action-hud-action {
	margin: 0 auto;
	text-align: center;
	background-image: url('images/alert-black.png');
	background-repeat: no-repeat;
	width: 133px;
	height: 42px;
	font-weight: 500;
	font-size: 13px;
	padding: 6px;
	font-family: Roboto;
	line-height: 15px;
}

#action-hud .action-hud-action .action-hud-action-text {
	display: inline-block;
	width: 70px;
	text-align: left;
}

#action-hud .action-hud-action .action-hud-button {
	display: inline-block;
	width: 30px;
	vertical-align: top;
	text-align: left;
	font-weight: 400;
	font-size: 14px;
	padding: 3px;
}

#loading {
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color: #0007;
	display: inline-block;
	position: absolute;
	padding: 1px 5px;
	bottom: 0;
	margin-bottom: 2.5vw;
	left: 0;
	margin-left: 6.5vw;
	font-size: 14px;
}

#loading img {
	float: right;
	margin: 5px 0px 0px 5px;
}

#loading span {
	margin: 4px 0px;
	display: inline-block;
}

#black-screen {
	position:fixed;
	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
}

#helpmessage {
	position: absolute;
	bottom: 0;
	margin-bottom: 2.5vw;
	width: 100%;
	text-align: center;
}

#helpmessage h2{
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	font-size: 12px;
	opacity: 0.7;
}

#keyhold {
	position: absolute;
	top: 65%;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	display: none;
}

#keyhold-text {
	display: block;
	color: white;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#keyhold-progress {
	width: 120px;
	height: 8px;
	display: inline-block;
	background-color: #848484;
	text-align: left;
}

#keyhold-progress-inner {
	width: 0;
	height: 4px;
	background-color: white;
	display: inline-block;
	margin: 2px;
	position: absolute;
}

#alert-center .alert-img{
	line-height: 42px;
	color: black;
	font-size: 28px;
	font-weight: 800;
}

#alert-center .alert-img {
	background-image: url('images/alert.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 133px;
	height: 42px;
}

#alert-center span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#alert-center span.alert-time {
    font-size: 42px;
    font-weight: 800;
}

#alert-center {
	font-family: 'Assistant', sans-serif;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 12vw;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% { opacity: 0.7; }
}

.alert-ui {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999;
    -webkit-user-select: none;
}

.alert-ui .container {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.alert-ui img {
    max-width: 100px;
    line-height: 0;
    margin-bottom: 5px;
}

.alert-ui h1 {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.alert-ui h2 {
    font-size: 26px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.alert-ui h3 {
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
}

#arrested-ui h1, #handcuff-ui h1, #death-ui h1 {
    font-size: 36px;
}

#arrested-ui h2, #handcuff-ui h2, #death-ui h2  {
    font-size: 14px;
}

#death-ui h2 {
	margin: 10px 0;
}

#death-ui h2 div.enter-key {
	width: 25px;
	background-image: url("images/enter-key.png");
	height: 24px;
	display: inline-block;
	background-size: 100%;
	margin: -5px 0;
}

#race-ui {
	background-color: initial !important;
	text-align: center;
	display: none;
}

#race-ui .container.race-go {
	background-color: rgba(61, 155, 253, 0.8) !important;
}

#race-ui .container {
	background-color: rgba(255, 35, 46, 0.8);
	color: #ffffff;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 30%;
	display: inline-block;
}

#race-ui.driving-test .container {
	background-color: transparent !important;
	width: 100%;
	height: 100%;
}

#race-ui h1 {
	line-height: 120px;
	font-size: 70px;
}

#race-info {
	position: absolute;
	top: 0;
	margin-top: 3vw;
	width: 100%;
	text-align: center;
	color: white;
	vertical-align: top;
}

#race-info span {
	line-height: 40px;
	vertical-align: middle;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
}

#race-info span.race-time {
	font-size: 36px;
}

#race-info .race-img {
	vertical-align: top;
	margin-left: 20px;
	margin-right: 5px;
}

#race-info .race-img.race-checkpoint-img {
    width: 37px;
    height: 40px;
    background-image: url("images/race-circle.png");
}

#race-info .race-img.race-lap-img {
    width: 44px;
    height: 40px;
    background-image: url("images/race-track.png");
}

#race-info.driving-test .race-img.race-lap-img {
    background-image: url("images/race-track-passed.png") !important;
}

#race-players {
	display: inline-block;
	width: 300px;
	top: 0;
	right: 0;
	position: fixed;
	margin-top: 7vw;
	margin-right: 6vw;
	text-align: right;
}

#race-players #race-players-record {
	font-style: italic;
	color: white;
	text-align: right;
	opacity: 0.8;
	font-size: 13px;
	margin: 3px;
}

#race-players .race-player {
	background-color: rgb(34, 38, 40);
	width: 270px;
	display: inline-block;
	text-align: left;
	height: 23px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 23px;
}

#race-players .race-player.active {
	background-color: rgb(216, 215, 219);
	width: 100%;
	color: black;
	font-weight: bold;
}

#race-players .race-player .race-player-classification {
    display: inline-block;
    text-align: center;
    width: 20px;
}

#race-players .race-player.active .race-player-classification {
	width: 30px;
}

#race-players .race-player .race-player-name {

}

#race-players .race-player.active .race-player-name {
	margin-left: 20px;
}

#race-players .race-player .race-label {
	float: right;
	margin-right: 7px;
}

#race-players .race-player .race-label-finished::after {
	color: rgb(241, 196, 15);
	content: "FINISHED";
}

#race-players .race-player .race-label-left::after {
	color: rgb(149, 165, 166);
	content: "LEFT";
}

#death-ui {
    background-color: rgba(0, 0, 0, 0.65);
}

#death-ui .container {
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.yes {
	color: #2ecc71;
}

.evidence {
	color: #bdc3c7;
}

.no {
	color: #e74c3c !important;
}

body {
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	overflow: hidden;
	font-size: 100%;
}

.blink {
	animation-duration: 400ms;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation:blink 400ms infinite; /* Safari and Chrome */
}

@keyframes blink {
	from {
		background-color:#0007;
	}
	to {
		background-color:#f8f8f8;
	}
}

@-webkit-keyframes blink {
	from {
		background-color:#0007;
	}
	to {
		background-color:#f8f8f8;
	}
}

#merchandmessage {
	position: absolute;
	top: 0;
	margin-top: 2.5vw;
	width: 100%;
	text-align: center;
	opacity: 1;
	-webkit-transition: opacity 200ms linear;
	-webkit-user-select: none;
}

#merchandmessage h2 {
	font-size: 12px;
	line-height: 26px;
	color: #ffffff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#current-site {
	margin-top: 20px;
	display: inline-block;
	display: none;
}

#current-site .current-site-province-name-value,
#current-site .current-site-bavarium-value,
#current-site .current-site-protection {
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	padding: 0 4px;
	line-height: 20px;
	font-size: 20px;
	color: #ffffff;
	text-shadow: 0px 0px 4px #00000070;
}

#current-site .current-site-name-value {
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	background-color: #00000080;
	padding: 0 2px;
	line-height: 20px;
	font-size: 20px;
	color: #ffffff;
	margin: 1px 3px 5px 10px;
	display: inline-block;
	vertical-align: top;
}

#current-site .current-site-base-percent {
	font-family: 'Kanit', sans-serif;
	padding: 0 2px;
	line-height: 20px;
	font-size: 20px;
	color: #ffffff;
	margin: 1px 4px 0px 0px;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}

#current-site .current-site-base-percent::after {
	content: "%";
	font-weight: 400;
}

#current-site .current-site-bavarium-value,
#current-site .current-site-protection-value {
	font-size: 14px;
	line-height: 20px;
	padding: 0 8px;
}

#current-site img {
	vertical-align: middle;
}

.military-bases {
    text-align: center;
    width: 100%;
}

.military-base {
	display: inline-block;
	border-radius: 2px;
	margin: 4px 2px;
	padding: 0;
	height: 24px;
	width: 36px;
	background-size: 21px;
	text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
	color: black;
	opacity: 0.9;
	font-size: 16px;
	line-height: 24px;
	background-size: 100%;
	border: 1px solid black;
}

.military-base.base-domination-1 {
	background-image: url("images/military_flag.jpg");
}

.military-base.base-domination-0 {
	background-color: white;
	color: black;
	text-shadow: initial;
}

.military-base.base-domination--1 {
	background-image: url("images/rebels_flag_white.jpg");
}

.military-conquest {
	display: none;
	text-align: center;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 4.5vw !important;
}

.military-conquest-text {
	display: block;
	text-transform: uppercase;
	margin-top: 25px;
}

.military-conquest progress {
	border: 1px solid #0006;
	background-color: #0000001a;
	height: 15px;
	width: 120px;
	min-width: 50px;
	float: right;
	margin-top: 1px;
	display: block;
}

progress#military-conquest-rebels-bar::-webkit-progress-value {
	background: rgb(19, 113, 255);
}

progress#military-conquest-military-bar::-webkit-progress-value {
	background: rgb(206, 43, 55);
}

.military-conquest progress#military-conquest-rebels-bar {
	transform: rotate(180deg);
}

.military-conquest progress#military-conquest-military-bar {
	margin-left: -1px;

}

.player-stats {
	bottom: 30%;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0.9;
}

.player-stats div {
	width: 165px;
	margin: 10px;
	display: none;
}

.player-stats span {
	font-size: 14px;
	display: block;
	margin-bottom: 3px;
	margin-top: -5px;
}

.player-stats progress {
	width: 100%;
	border: none;
	background-color: #0000001a;
	height: 8px;
	display: block;
}

.player-stats progress::-webkit-progress-value {
	background: white;
	box-sizing: border-box;
}

.player-stats progress.increase::-webkit-progress-value {
	border-right: 2px solid #2ecc71;
}

.player-stats progress.decrease::-webkit-progress-value {
	border-right: 2px solid #e74c3c;
}

#scoreboard {
	color: black;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	display: none;
	-webkit-transform: translate(-50%, -50%);
	max-width: 1000px;
}

#scoreboard .header {
	display: -webkit-flex;
	border-bottom: 2px solid #000000b3;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0px 0px !important;
}

#scoreboard .header-title {
	font-size: 12px;
	padding: 10px 10px 0px 10px;
	display: block;
}

#scoreboard .row {
	margin: 0 10px;
	padding: 0px !important;
    display: -webkit-flex;
    line-height: 40px;
}

#scoreboard .column {
	-webkit-flex: 1;
	display: inline-block;
}

#scoreboard .column.id {
	-webkit-flex: 0.05;
}

#scoreboard .column.level {
	-webkit-flex: 0.06;
}

#scoreboard .column.permissions {
	-webkit-flex: 0.14;
}

#scoreboard .column.avatar {
	-webkit-flex: 0.05;
}
#scoreboard .column.name {
	-webkit-flex: 0.24;
}

#scoreboard .column.badges {
	-webkit-flex: 0.18;
}

#scoreboard .column.job {
	-webkit-flex: 0.20;
}

#scoreboard .column.ping {
	-webkit-flex: 0.05;
}

#scoreboard .column.country {
    -webkit-flex: 0.03;
}

#scoreboard .column.avatar .image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70%;
    top: 50%;
    transform: translate(0px, -50%) scale(0.7);
	position: relative;
	border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#scoreboard .column.badges .badge {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    top: 50%;
    transform: translate(0px, -50%) scale(0.7);
    border-radius: 10px;
    position: relative;
    margin-left: -10px;
}

#scoreboard .players .column.name,
#scoreboard .players .column.job,
#scoreboard .players .column.permissions {
    text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5), 1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

#scoreboard .column.permissions .tag {
	padding-left: 6px;
	padding-right: 6px;
	background-color: gray;
	border-radius: 5px;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin-right: 2px;
    font-size: 12px !important;
    filter: grayscale(15%);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#scoreboard .column.country img {
    transform: translate(0, 25%);
    position: relative;
}

#scoreboard .players {
	font-size: 14px;
	font-weight: bold;
	min-height: 400px;
	max-height: 600px;
	overflow-y: scroll;
}

#scoreboard .players .row {
	border-bottom: 2px solid #0000001a;
}

.bar {
	text-align: center;
	display: inline-block;
	min-width: 50px;
	margin-left: 3px;
}

.thirsty.bar-level, .hungry.bar-level {
	width: 20px;
}

.bar-level {
	height: 5px;
	display: block;
	margin: 5px auto;
	background-color: #0007;
	width: 28px;
	outline: 2px solid #0007;
}

.bar-active {
	background-color: #f8f8f8;
}

.bar-active-important {
	background-color: #f8f8f8 !important;
}

.bar-changed-up {
	background-color: rgb(88, 207, 159);
}

.bar-changed-down {
	background-color: rgb(230, 112, 112);
}

.bar .text {
	color: white;
	text-shadow: 0px 0px 4px #0008;
	margin: 6px auto 0px;
	font-size: 0.85vw;
	display: inline-block;
	font-weight: bold;
}

.hud {

	text-shadow: 0px 0px 4px #0008;
	position: fixed;
}

.hud.upper {
	top: 0;
	margin-top: 2.5vw;
}

.hud.lower {
	bottom: 0;
	margin-bottom: 2.5vw;
}

.hud.right {
	text-align: right;
	right: 0;
	margin-right: 6vw;
}

.hud.left {
	text-align: left;
	left: 0;
	margin-left: 6.5vw;
}

.hud.right .resizable {
	-webkit-transform-origin: 100%;
}

.hud.right.upper .resizable {
	-webkit-transform-origin: 100% 0;
}

.hud.right.upper.lower .resizable {
	-webkit-transform-origin: 100% 100%;
}

.hud.lower.right {
	right: 0;
	margin-right: 18vw;
}

.data-hud {
	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
	position: relative;
}

#job-level-data {
    /* background: url("images/comunism.png"); */
}

.level.data-hud {
	width: 32px;
    height: 32px;
    background-color: white;
	border-radius: 100%;
	border: 1px solid #0000001a;
}

.level span {
	text-align: center;
	vertical-align: middle;
	line-height: 31px;
	display: block;
	color: black;
	text-shadow: 0px 0px 1px #0008 !important;
}

.experience.data-hud {
}

.job-experience-hud-name {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	margin-top: 8px;
	padding: 1px 0 0;
	font-weight: 800;
	text-shadow: 0px 0px 2px #0008 !important;
	max-width: 90px;
	word-wrap: break-word;
}

.experience-hud-bonuses {
    margin-top: 10px;
}

.experience-hud-bonus {
	display: block;
	font-size: 9px;
	text-transform: uppercase;
	margin-top: 2px;
	color: #000c;
	background-color: #ffb702e6;
	padding: 1px 3px;
	text-shadow: initial;
	font-weight: 800;
}

#experience-bar {
	height: 2px;
	background-color: black;
}

#job-experience-data::after {
	content: " XP";
}

#job-max-experience-data::before {
	content: "/ ";
	text-shadow: 0px 0px 2px #0008 !important;
}

#job-experience-data {
	text-shadow: 0px 0px 2px #0008 !important;
}

#experience-data::after {
	content: " XP";
}

#max-experience-data::before {
    content: "/ ";
}

#money-data::before {
	content: "$ ";
}

.experience-data-append {
	color: #2ecc71;
	width: 100%;
	font-weight: bold;
    white-space: nowrap;
    margin-top: 2px;
    display: block;
    float: right;
}

#money-data-append, #bag-data-append {
	color: #2ecc71;
	width: 100%;
	position: absolute;
	margin-top: 30px;
	font-weight: bold;
	white-space: nowrap;
	direction: rtl;
}

#bag-data-append {
    position: initial;
}

.data-hud progress {
	border: 1px solid #0006;
	background-color: #0000001a;
	height: 5px;
	display: block;
	width: 90px;
	min-width: 50px;
	float: right;
	margin-top: 1px;
}

.data-hud progress::-webkit-progress-value {
	background: white;
}

#bag-image {
    height: 12px;
}

#bag-hud {
    display: none;
}

.bag-hud-name {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	margin-top: 8px;
	padding: 1px 0 0;
	font-weight: 800;
	text-shadow: 0px 0px 2px #0008 !important;
}

progress#bag-progress-bar {
    min-width: 35px;
    width: 35px;
}

.taximeter-ui {
	display: none;
	text-align: center;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #3f3f3fe6;
	color: white;
	padding: 2px 10px;
}

.taximeter-ui-text-taximeter {
	display: block;
	font-size: 11px;
	border-bottom: 1px solid #0000004d;
}

.taximeter-ui-text-fare {
	display: inline-block;
	font-size: 13px;
}

.taximeter-ui-fare {
	display: inline-block;
	font-size: 20px;
	color: #fcff8f;
}

.job-ui {
	display: none;
	text-shadow: initial;
	color: black;
	text-align: center;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #ffffffe6;
	border: 1px solid #000000e6;
	padding: 8px;

}

.job-ui-text {
	font-size: 14px;
	margin: 8px 0 2px;
}

.job-ui-header {
	border-bottom: 1px solid #000000e6;
	padding-bottom: 3px;
}

progress#job-ui-progress-bar {
	border: 1px solid #0000001a;
	background-color: #0000001a;
	width: 170px;
	height: 5px;
	display: block;
}

progress#job-ui-progress-bar::-webkit-progress-value {
	background: white;
}

.hud-info { 
    height: 110px;
}

.heat {
	width: 200px;
	box-shadow: 0px 0px 2px #0009;
	display: none;
    display: inline-block;
}

.heat .heat-header.level {
	background-image: url("images/level.png") !important;
	height: 45px;
	background-position: 45%;
}

.heat .heat-header.combat {
	background-image: url("images/combat.png");
	height: 45px;
}

.heat .heat-header.combat:before {
	content: "";
}

@keyframes fade-level {
    from { color: transparent;}
      to { color: white;}
}

.heat .heat-header {
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-color: rgb(228, 2, 33);
	height: 0;
	font-size: 38px;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	line-height: 44px;
	padding-left: 120px;
	text-align: left;
	transition: height 0.2s ease-in-out;
	animation: fade-level 0.6s;
}

.heat .heat-bottom.combat-zone {
	background-image: url("images/combat-zone.png");
	background-size: 100%;
	height: 40px;
}

.heat .heat-bottom.stars-1 {
	background-image: url("images/star-1.png");
	background-size: 90%;
	height: 40px;
}

.heat .heat-bottom.stars-2 {
	background-image: url("images/star-2.png");
	background-size: 90%;
	height: 40px;
}

.heat .heat-bottom.stars-3 {
	background-image: url("images/star-3.png");
	background-size: 90%;
	height: 40px;
}

.heat .heat-bottom.stars-4 {
	background-image: url("images/star-4.png");
	background-size: 90%;
	height: 40px;
}

.heat .heat-bottom.stars-5 {
	background-image: url("images/star-5.png");
	background-size: 90%;
	height: 40px;
}

.heat .heat-bottom {
	background-color: #000000b3;
	background-repeat: no-repeat;
	background-position: 50%;
	transition: background 0.2s ease-in-out;
}

.hidden {
	opacity: 0 !important;
	transition: opacity 0.2s ease-in-out;
}